


@font-face {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Handjet', cursive;
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Handjet:wght@500&display=swap");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Handjet', cursive;
  margin: 100px auto auto auto;
  background-color: yellow;
  padding: 20px;
  border: 4mm ridge rgba(211, 220, 50, .6);
  box-shadow: 0 5px 5px yellow, 0 5px 5px yellow;
}

.rockp {
  width: 80px;
  height: 80px;

}







